/*
* Photo Gallery — Practice
* CSS Styles
*
* Start typing your code under these comments
*/

.container {
    width: 100%; /* ширина блока-контейнера */
    max-width: 960px; /* максимальная ширина контейнера */
    margin: 0 auto; /* этот стиль центрирует контейнер */
}
.photo {
    float: left; /* говорим элементам выстраиваться один за другим */
    width: 33.333333%; /* устанавливаем ширину элемента */
    padding: 10px; /* добавляем отступы с каждой стороны */
    box-sizing: border-box; /* меняем способ вычисления ширины */
}

.photo img {
    display: block;
    max-width: 100%;
    height: auto;
    border: 5px solid #666;
   box-sizing: border-box;
}

.photo a:hover {
    opacity: 0.5;
}

.photo a {
    display: block;
    position: relative;
}

.photo a:after {
    content: '';
    background: transparent url(../img/icons/eye-icon.png) no-repeat center;
    width: 52px;
    height: 35px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    visibility: hidden;
}

.photo:hover > a:after {
    visibility: visible;
}

.photo figcaption {
    color: #999999;
    text-align: center;
    margin-top: 20px;
}
h1 {
    font-size: 36px;
    text-transform: uppercase;
    color: #cccccc;
    text-align: center;
    margin: 30px 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#gallery {
    margin-bottom: 50px;
}

#gallery:after { 
   content: '';
   display: block; 
   height: 0; 
   clear: both;
}